.login{
 margin-top: 200px;
 text-align: center;
 justify-content: center;
 overflow: auto;
 display: block;
 background-color: aquamarine;
 

}

.email{
    margin: 50px;
    padding :20px
}

.password{
    margin: 10px;
    padding: 80px;
}