<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>

  <h1>Please enter your name</h1>
 
  <form action="/submit" method="POST">
    <input type="text" name="fName" placeholder="First name">
    <input type="text" name="lName" placeholder="Last name">
    <input type="submit" value="OK">
  </form>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Num of character</title>
  </head>
  <body>
    <% if (locals.numberofLetters) { %>
    <h1>There are <%= numberofLetters%> in your name</h1>
    <% } else { %>
    <h1>Please Enter your name here</h1>
    <% }%>
    <form action="/submit" method="POST">
      <input
        type="text"
        placeholder="First name"
        name="fName"
      />
      <input
        type="text"
        placeholder="Last name"
        name="lName"
      />
      <input type="submit" value="Ok" />
    </form>
  </body>
</html>
